.sdp {
  padding: 5px 10px;
  width: 323px;
  align-items: center;
  background-color: #3e85f3;
  border-radius: 16px;
  position: absolute;

  top: 0;
  left: 5;
  z-index: 1000;

  @media screen and (min-width: 768px) {
    width: 393px;
    top: 35px;
    left: -2px;
    padding: 9px 18px;
  }

  @media screen and (min-width: 1440px) {
    left: 0;
  }
}

.sdp--disabled {
  pointer-events: none;
}

.sdp:focus,
.sdp--month-name:focus,
.sdp--square-btn:focus {
  outline: none;
  box-shadow: var(--ring-shadow);
}

.sdp--month-name {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  color: #3e85f3;
}

.sdp--text {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.sdp--text__inactive {
  color: transparent;
  pointer-events: none;
}

.sdp--square-btn {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: none;
  background-color: #3e85f3;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sdp--square-btn:hover {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #3e85f3;
}

.sdp--square-btn__outlined {
  color: #ffffff;
}

.sdp--date-btn__selected {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #3e85f3;
}

.sdp--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sdp--grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  margin: 0.5rem 0 0;
  justify-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sdp--grid > p.sdp--text {
  padding: 0.5rem 0;
}

.sdp--header__main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: 'Inter';
  font-style: normal;
  font-size: 22px;
  line-height: 20px;
  color: #ffffff;
}

.sdp--select__month button {
  text-align: left;
  color: #ffffff;
}

.sassy--select {
  border: none;
  border-radius: 0.25rem;
  display: inline;
  padding: 0.2rem 0.4rem;
  color: #ffffff;
}

.sassy--select__container {
  border-radius: 0.25rem;
  position: relative;
}

.sassy--select:focus {
  outline: none;
}

.sassy--select.sassy--select__disabled {
  opacity: var(--disabled-opacity);
  pointer-events: none;
}

.sassy--select__dropdown {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  top: 1.5rem;
  max-height: 40vh;
  overflow: auto;
  padding: 0.5rem;
  background: #3e85f3;
  border: none;
  border-radius: 0.5rem;
  scrollbar-width: none;
}

.sassy--select__dropdown::-webkit-scrollbar {
  display: none;
}

.sassy--select,
.sassy--option {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: white;
}

.sassy--option:focus {
  outline: none;
}

.sassy--option__disabled {
  color: whitesmoke;
  pointer-events: none;
}

.sassy--select:hover {
  cursor: context-menu;
}

.sassy--option {
  transition: all 0.1s ease;
  cursor: pointer;
  padding: 0.25rem 0.4rem;
  border: none;
  border-radius: 0.25rem;
  background: #8a8989;
  margin-top: 0.25rem;
}

.sassy--option:first-of-type {
  margin-top: 0;
}

.sassy--option__active,
.sassy--option:hover {
  color: #3e85f3;
  background-color: rgb(206, 200, 200);
}
