html[data-theme='light'] {
  --background: #f7f6f9;
  --second-backgrond: #ffffff;
  --third-background: #ffffff;
  --primary-text: #111111;
  --second-text: rgba(52, 52, 52, 0.5);
  --third-text: #343434;
  --side-bar-and-task-buttons-background: #e3f3ff;
  --side-bar-buttons-content-hover: #3e85f3;
}

html[data-theme='dark'] {
  --background: #171820;
  --second-backgrond: #13151a;
  --third-background: #21222c;
  --primary-text: #fff;
  --second-text: #fff;
  --third-text: rgba(250, 250, 250, 0.3);
  --side-bar-and-task-buttons-background: #3e85f3;
  --side-bar-buttons-content-hover: #ffffff;
}
